{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container py-4 py-xl-5">

            <div class="row gy-4 gy-md-0">
                <div class="col-md-6">
                    <div class="p-xl-5 m-xl-5">
                        <img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="{% if product.image %}{{ product.image.url }}{% endif %}" alt="">
                    </div>
                </div>
                <div class="col-md-6 d-md-flex align-items-md-center">
                    <div style="max-width: 350px;">
                        <h3 class="text-uppercase fw-bold">{{ product.name }}</h3>
                        <h5 class="my-3 text-primary">
                            <a href="{{ product.category.get_absolute_url }}">
                             {{ product.category }}
                            </a>
                        </h5>
                        <p class="my-3">{{ product.description }}</p>
                        <p class="my-3">{{ product.price }}&#8381</p>
                        <form action="{% url "cart:cart_add" product.id %}" method="post">
                            <p class="my-3">Кол-во {{ cart_product_form.quantity }} шт.</p>
                            {% csrf_token %}
                            <input class="btn btn-primary btn-lg me-2" role="button" type="submit" value="Добавить в корзину">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}